/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/.utmp/
/[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

/Assets/Plugins/Editor/JetBrains*
/Assets/StreamingAssets/aa*

.vs/
.vscode/
.idea/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt
crashlytics-build.properties

*.apk
*.aab
*.unitypackage
*.app

*.keystore
*.jks
google-services.json
GoogleService-Info.plist
/Assets/_Hauntscope/Secrets/

/Assets/_ThirdPartyPrivate/

.DS_Store
Thumbs.db
/Assets/_Hauntscope/Secrets.meta
/Assets/_ThirdPartyPrivate.meta


/Assets/AddressableAssetsData/*/*.bin*
/Assets/AddressableAssetsData/Android/
/Assets/AddressableAssetsData/Android.meta

# Addressables copies link.xml here only for the duration of a player build and deletes it on domain reload.
/Assets/AddressableAssetsData/link.xml
/Assets/AddressableAssetsData/link.xml.meta
